//STYLE DE NOTRE HEADER

header{
  background-color: $background-color-menu;

  .profile{

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px;

    &-image{

      height: 150px;
      width: 150px;

      border: 4px solid $white;
      border-radius: 50%;

      margin-bottom: 20px;

      overflow: hidden;

    }
  }

  h1, p{
    color: $white;
  }

  h1{
    margin: 0 0 5px;
  }

  p{
    font-size: rem(18);
    margin: 0;
  }


}