.nav-principale{


  .show-menu{
    display: block;
    text-align: center;

    color: $white;

    background-color: #555;
    padding: 10px 0;
  }

  .toggle-menu:checked + ul{
    display: block;
  }

  .toggle-menu{
    display: none;
  }

  ul{
    margin: 0;
    padding: 0;

    display: none;

    a{
      display: flex;
      align-items: center;

      padding: 15px 40px;

      color: $white;

      &:hover{
        background-color: $link-color-hover;
      }

      i{
        margin-right: 15px;

        font-size: rem(24);
      }
    }

  }



}
