//FICHIER DE CONFIGURATION POUR LES VARIABLES DE COULEUR

// Couleur de base 

$white: #fff;
$black: #303044;

// Couleur de projet

$color-text: #777777;

$background-color: $white;
$background-color-menu: #5f6d7e;

$section-title-color: #555;

$link-color: $white;
$link-color-hover:darken($background-color-menu, 5%);
$link-color-active:darken($background-color-menu, 15%);