//FICHIER DE CONFIGURATION POUR LES VARIABLES DE POLICE


/// Grosseur des textes

$font-size: rem(16);

$lh: 1.5;

/// Font family

$ff-normal: Roboto, Helvetica, Arial, sans-serif;


/// Fonts weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 500;
$fw-bold: 700;
